@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  font-family: "Robot", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--pink);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
}

header {
  width: 96%;
  background-color: #c63bfa;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  transition: 0.2s;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0.3);
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li {
  margin: 0 1rem;
}
header .navbar ul li a {
  font-size: 2rem;
  color: rgb(249, 227, 227);
}
.itemActive {
  padding: 1rem;
  font-size: 2.3rem;
  background-color: rgb(12, 14, 14);
  border-radius: 1rem;
}

header .navbar ul li :hover {
  padding: 1rem;
  font-size: 2.3rem;
  background-color: rgb(12, 14, 14);
  border-radius: 1rem;
}
header .logo .name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .logo {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

header .logo i {
  color: white;
  padding: 0 0.2rem;
}

header .logo i:hover {
  font-size: 2.7rem;
}

header .fa-bars {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  display: none;
  transition: 0.2s;
}

iframe {
  margin-top: 5rem;
  width: 85%;
  height: 100vh;
  margin-left: 15%;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  margin-top: 5rem;
  position: fixed;
  width: 15%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  padding: 10px 0;
  z-index: 1;
}

.sidebar a {
  display: block;
  color: black;
  padding: 18px;
  text-decoration: none;
  font-size: 15px;
}

.container .sidebar .active {
  background-color: rgb(235, 183, 39);
  color: white;
}

.sidebar a:hover:not(.fab, .active) {
  background-color: #555;
  color: white;
}

.sidebar a i {
  height: 10rem;
  width: 10rem;
  line-height: 8rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rgb(235, 183, 39);

  border: 1rem solid #fff;
  border-left: 1rem solid rgb(235, 183, 39);
  border-right: 1rem solid rgb(235, 183, 39);
  box-shadow: 0 0 0 1rem #fff inset;
  font-size: 3.5rem;
}
.moveHidden {
  display: none;
}
.move {
  width: 100%;
  background: transparent;
  text-align: center;
  align-content: center;
  display: block;
  margin-top: -6rem;
  position: relative;
  margin-left: 8rem;
}
.move button {
  flex-flow: column;
  padding: 0.7rem 1rem;
  margin: 0.8rem 20rem;
  background-color: #38773b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .outer .inner .next {
    margin-left: 60%;
  }
  iframe {
    width: 100%;
    margin-left: 0;
    margin-top: 22rem;
  }

  .sidebar a {
    color: white;
  }
  .sidebar {
    background-color: #1c1d1b;
    display: block;
    width: 100%;
    height: 18rem;
  }
  .sidebar a {
    float: left;
  }

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    background: rgb(19, 19, 19);
    border-radius: 1rem;
    opacity: 0;
    transition: 0.2s linear;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    font-size: 2rem;
    display: block;
  }
  header .navbar ul li a:hover {
    padding: 1rem;
    font-size: 2.3rem;
    background-color: rgba(225, 203, 203, 0.999);
    border-radius: 1rem;
    color: #1c1d1b;
  }
  header .fa-times {
    transform: rotate(180deg);
    color: white;
  }
  header .nav-toggle {
    top: 5rem;
    opacity: 1;
  }
  .sidebar-hidden {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
